PORT=3001
PLAID_CLIENT_ID=6a074d912cf86a000d2ccedf
PLAID_SECRET=replace_with_your_plaid_secret
PLAID_ENV=sandbox
PLAID_WEBHOOK_URL=
GEMINI_API_KEY=
GEMINI_CATEGORIZATION_MODEL=gemini-2.5-flash
EMAIL_USER=
EMAIL_PASS=
COMPANY_LOGO_URL=
